<div id="bck" class="col-12">
<div class="row">
<div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1">    
<div class="card bg-transparent mt-2">
    <div class="card-header text-center inner">
        <h1>Contact Me</h1>
    </div>
    <div class="card-body">
        <div class="card-title">
            <form class="form-inline">
            <button type="button" class="btn  btn-info btn-md col-5"  (click)="soc()">Social Links</button>
            <button type="button" class="btn btn-success btn-md offset-1 col-6" (click)="bus()">Trading Links</button>
            </form>
        </div>
        <div class="card-text">
            <div *ngIf="btn1" class="Cmn col-12 text-center inner">
            <p class="fab fa-facebook-square" style="display: block;"><a href="https://www.facebook.com/profile.php?id=100008676999166"  style="text-decoration: none; color:red;" target="_blank">&nbsp;<b>Like me on facebook</b></a></p>
            <p class="fab fa-github"  style="display: block;"><a href="https://github.com/Subhashish-Panda"  style="text-decoration: none;color: indigo;" target="_blank">&nbsp;<b>Follow me on Github</b></a></p>
            <p class="fab fa-twitter-square"  style="display: block;"><a href="https://twitter.com/SubhashishPan11" style="color:blue;text-decoration:none;" target="_blank">&nbsp;<b>Follow me on Twitter</b></a></p>
            <p class="fab fa-linkedin"><a href="https://www.linkedin.com/in/subhashish-panda-1596361a0/" style="color:orangered;text-decoration:none;" target="_blank">&nbsp;<b>Let's connect on Linkedin</b></a></p> 
            </div>
            <div *ngIf="btn2" class="Cmn col-12 text-center inner">
            <p class="fa fa-envelope" style="display: block;">&nbsp;<b style="color:red;">subhashish.panda16@gmail.com</b></p>
            <p class="fab fa-whatsapp" style="display: block;">&nbsp;<b style="color:purple;">Ping me on 8917230657</b></p>
            <p class="fa fa-map-signs text-dark" style="display:block;"><b>Kalyani Nagar,NH-16</b></p>
            <p class="text-dark"><b>Samraipur,Bhadrak</b></p>
            <p class="text-dark"><b>Odisha-756100</b></p>    
            </div>
        </div>
    </div>
</div>
</div>
</div>

</div>
