<div id="banner_image">
    <div class="container">
        <div id="banner_content" class="col-md-6 offset-md-3 col-12" style="font-family: 'Times New Roman', Times, serif; color:wheat;">
        <h2>
        Hello,I'm <b>Subhashish Panda :)</b> 
        </h2>
        <i class="fa fa-spinner fa-pulse"></i><span style="display:inline-block;font-size: larger;">An,Aspiring Web developer</span>
        <div><button class="btn btn-success" routerLink="/about">Know me</button></div>
        </div>
    </div>
</div>
